# the Directive is a complete description of your application, including all of its business logic.
# appVersion should be updated for each new deployment of your app.
# atmoVersion declares which version of Atmo is used for the `subo dev` command.

identifier: {{ .Environment }}.{{ .Name }}
appVersion: v0.1.0
atmoVersion: v{{ .AtmoVersion }}
{{ if .Headless }}headless: true{{ end }}
{{ if not .Headless }}
handlers:
  - type: request
    resource: /hello
    method: POST
    steps:
      - fn: helloworld
{{ end }}