{
  "name": "{{ .Name }}",
  "description": "",
  "version": "{{ .Version }}",
  "dependencies": {
    "@suborbital/runnable": "^{{ .APIVersion }}",
    "fastestsmallesttextencoderdecoder-encodeinto": "^1.0.22"
  },
  "devDependencies": {
    "webpack": "^5.38.1",
    "webpack-cli": "^4.7.2"
  },
  "scripts": {
    "prebuild": "webpack",
    "build": "javy build/index.js -o {{ .Name }}.wasm"
  }
}
