name: Testapalooza

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ "*" ]

jobs:

  build:
    name: Test
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.17
      uses: actions/setup-go@v1
      with:
        go-version: 1.17
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Get dependencies
      run: |
        go get -v -t -d ./...
        go mod vendor

    - name: Build
      run: |
        make atmo
        make atmo/proxy
      
    - name: Run test
      run: |
        make build
        make test
